.bg-image {
    animation: slidein 200s;
    animation-fill-mode: both;
    opacity: 0.2;
    left: calc(100vw/5);
    animation-iteration-count: infinite;
    animation-direction: linear;
    position: fixed;
    z-index: -2;
    height: 100vh;
}

body {
    background-color: rgba(0, 0, 0, 0.9) !important;
}
@keyframes slidein {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(350deg);
    }

}


@keyframes dezuivere {
    0% {
        color: rgba(240, 248, 255, 0.558);
    }

    20% {
        color: rgba(221, 160, 221, 0.677);
    }

    45% {
        color: #b023ff;
    }

    55% {
        color: #b023ff;
    }

    80% {
        color: rgba(221, 160, 221, 0.677);
    }

    100% {
        color: rgba(240, 248, 255, 0.558);
    }
}

.novabr {
    background-blend-mode: overlay;
}

.about_text {
    font-size: 1em;
    letter-spacing: 2px;
    font-family: monospace;
    text-align: justify;
    margin-top: 0vh;
    color: rgba(240, 248, 255, 0.558);
}

.about_holder {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5vh;
    border-radius: 10px;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.about_1 {

    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.353);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-height: 600px;
    overflow: hidden;
    padding-top: 1vh;
    padding-bottom: 10%;
}

.about-us {
    color: rgba(240, 248, 255, 0.558);
    font-family: monospace;
    animation-name: dezuivere;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    padding: 3%;
    padding-left: 10%;
    top: 20vh;
}

.about_holder::-webkit-scrollbar {
    display: none;
}

/* login css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-box {
    background-color: #262526;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 ,h6{
    color: aliceblue;
    margin-top: 0;
    text-align: center;
}

#password{
    justify-content: end;
    right: 0 !important;
}

.login-form {
    color: #262526;
    margin-top: 20px;
}

label {
    color: aliceblue;
    display: block;
    margin-bottom: 10px;
}

.input_signup {
    width: 100%;
    padding: 8px;
    background-color: #00030722;
    color: rgba(240, 248, 255, 0.558);
    margin-bottom: 15px;
    border: 1px solid #cccccc4e;
    border-radius: 4px;
}

.home_button {
    width: 100%;
    padding: 15px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
@keyframes fadetopurple {
    0% {
        background-color: rgba(240, 248, 255, 0.558);
    }

    50% {
        background-color: rgba(221, 160, 221, 0.677);
    }

    100% {
        background-color: #b023ff;
    }
}
.home_button:hover {
    background-color: #b023ff;
    transform: translateY(-2px);
}

.forgot-password {
    margin-top: 10px;
    text-align: end;

}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: small;
}

.forgot-password a:hover {
    text-decoration: underline;
}