.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 300px;
  padding: 20px;
  background-color: #262526;
  border: 1px solid #cccccc1f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.input_signup{
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: rgba(240, 248, 255, 0.558);
  border: 1px solid #cccccc1f;
}

button {
  padding: 8px 10px;
  background-color: #a10ad7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color:  #320242;
}