.topbar_logo {
    color: #b023ff;
    font-family: monospace;
    color: azure;
    animation-name: dezuivere;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;

}

.navdark {
    color: rgba(0, 0, 0, 0.884);
}

.topdark {
    background-color: black;
}


body {
    background-size: cover;
    -webkit-animation: slidein 20s;
    animation: slidein 20s;

    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.9) !important;
    background-image: url(https://freepngimg.com/save/10328-biohazard-symbol-png-pic/2406x2400);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@-webkit-keyframes slidein {
    from {
        background-position: 300px 0px;
        background-size: 100vh;
    }

    to {
        background-position: 500px 0px;
        background-size: 100vh;
    }
}

@keyframes slidein {
    from {
        background-position: 300px 0px;
        background-size: 100vh;
    }

    to {
        background-position: 500px 0px;
        background-size: 100vh;
    }

}


.home_nav {
    color: azure;
    animation-name: dezuivere;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes dezuivere {
    0% {
        color: white;
    }

    20% {
        color: plum;
    }

    45% {
        color: #b023ff;
    }

    55% {
        color: #b023ff;
    }

    80% {
        color: plum;
    }

    100% {
        color: white;
    }
}
.novabr{
    background-blend-mode: overlay;
}
.home_nav:hover {
    color: #b023ff;
}